.arrowImg {
  width: 35px;
  float: right;
}
.firstHr {
  width: 15%;
  color: #f7ad19;
  height: 3px !important;
  float: left;
}
.secondHr {
  width: 85%;
  float: left;
  height: 3px !important;
}
.productImg {
  width: 265px;
  height: 221px;
  float: left;
  position: absolute;
  left: 17px;
  bottom: 22px;
}
.productImgContainer {
  width: 100%;
  height: 270px;
  background-color: #f2f2f2;
  position: relative;
  border-radius: 10px;
}
.productDescription {
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
}
.productOffer {
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  color: #f27f0c;
  text-align: center;
}
.productContainer {
  width: 300px;
  height: 307px;
  margin-bottom: 50px;
}
.productParentContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.productSearch {
  width: 30px;
  height: 30px;
  align-self: center;
}
.productSearchContainer {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 125px;
  top: 108px;
  display: none;
  cursor: pointer;
}
.productContainer:hover .productSearchContainer {
  display: flex;
}

@media screen and (max-width: 600px) {
  .productParentContainer {
    justify-content: center;
  }
}
