.image {
  width: 845px;
  height: 509px;
}
.overallContainer {
  width: 100%;
}
.details {
  margin-right: 15px;
}
.description {
  font-size: 14px;
  text-align: left;
}
.readmoreBtn {
  background-color: #f7ad19;
  border: none;
  padding: 15px 37px;
  color: white;
  border-radius: 28px;
  font-weight: bold;
}
.socialMedia {
  width: 30px;
  margin: 0 5px;
  cursor: pointer;
}
.leftContainer {
  width: 25%;
}
