.image {
  width: 845px;
  height: 509px;
}
.overallContainer {
  width: 100%;
}
.details {
  margin-right: 15px;
}
.description {
  font-size: 14px;
  text-align: left;
}
.readmoreBtn {
  background-color: #f7ad19;
  border: none;
  padding: 15px 37px;
  color: white;
  border-radius: 28px;
  font-weight: bold;
}
.socialMedia {
  width: 30px;
  margin: 0 5px;
  cursor: pointer;
}
.leftContainer {
  width: 25%;
}
.shareBtn {
  font-size: 2vw;
}
@media only screen and (max-width: 600px) {
  .image {
    width: 100%;
    height: 50%;
  }
  .details {
    font-size: 2vw;
    font-family: revert;
    font-weight: bold;
  }
  .description {
    font-size: 2vw;
  }
  .readmoreBtn {
    width: 25%;
    padding: 10px 15px;
    font-size: 10px;
  }
  .socialMedia {
    width: 20px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .image {
    width: 100%;
    height: 50%;
  }
  .details {
    font-size: 2vw;
    font-family: revert;
    font-weight: bold;
  }
  .description {
    font-size: 2vw;
  }
  .readmoreBtn {
    width: 25%;
    padding: 10px 15px;
    font-size: 10px;
  }
  .socialMedia {
    width: 20px;
  }
}


@media (min-width:769px) and (max-width:992px) {

  .image{
    width: 100%;
height: 100%;
  }
  
}