.container {
  width: 32%;
  border: 2px solid #f7ad19;
  height: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.decreContainer {
  position: absolute;
  width: 50px;
  background-color: #f7ad19;
  height: 50px;
  border-radius: 50%;
  top: 2px;
  left: 6px;
  cursor: pointer;
}
.decreSymbol {
  font-size: 30px;
  color: white;
  margin-left: 20px;
}
.increContainer {
  position: absolute;
  width: 50px;
  background-color: #f7ad19;
  height: 50px;
  border-radius: 50%;
  top: 2px;
  right: 6px;
  cursor: pointer;
}
.increSymbol {
  font-size: 30px;
  color: white;
  margin-left: 16px;
}
.count {
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .container {
    height: 41px;
    width: 40%;
  }
  .decreContainer {
    width: 33px;
    height: 33px;
  }
  .increContainer {
    width: 33px;
    height: 33px;
  }
  .decreSymbol {
    font-size: 20px;
    margin-left: 13px;
  }
  .increSymbol {
    font-size: 20px;
    margin-left: 12px;
  }
}


@media (min-width:769px) and (max-width:992px) {
  .container {
    height: 41px;
    width: 40%;
  }
  .decreContainer {
    width: 33px;
    height: 33px;
  }
  .increContainer {
    width: 33px;
    height: 33px;
  }
  .decreSymbol {
    font-size: 20px;
    margin-left: 13px;
  }
  .increSymbol {
    font-size: 20px;
    margin-left: 12px;
  }
  
}